body{
    margin: 0;
    padding: 0;
}

#intro{
    width: 100%;
    height: 970px;
    background: black;
    text-align: center;
}

.profile{
    border-radius: 5rem;
}

.intro-text{
    color: white;
}