body{
    margin: 0;
    padding: 0;
}

#fullpage{
    background: black;
}

#intro{
    width: 100%;
    background: black;
    text-align: center;
}

.profile{
    border-radius: 5rem;
}

.intro-text{
    color: white;
}

#skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skill{
    border: 2px solid #BBBBBB;
    border-radius: 1000rem;
    font-weight: 500;
    width: max-content;
    height: max-content;
    padding: .3rem .7rem .3rem .7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .3rem 0 .3rem;
    cursor: pointer;
}

.skill, .skill:hover{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.skill:hover{
    -webkit-box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.2),0 2px 6px 0 rgba(0,0,0,.19);
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.2),0 2px 6px 0 rgba(0,0,0,.19)
}

.skill-title{
    font-size: 1.3rem;
    padding-bottom: .7rem;
}

.hover-shadow,.hover-shadow:hover{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hover-shadow:hover{
    -webkit-box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.progress{
    width: 80%;
    height: 30%;
    background: #BBBBBB;
    border-radius: 3rem;
    margin: 0 auto;
}

.progress-bar{
    height: 100%;
    background: limegreen;
    border-radius: 3rem;
    font-weight: 550;
    color: #FFFFFF
}

.bg-success{
    background: #3EC93E;
}

.bg-warning{
    background: #FFB400;
}

.bg-error{
    background: #FF4040;
}

.text-center{
    text-align: center;
}